input/*
output/*
tests/input/
*.pdf
tests/input/*
tests/output/*
*.pyc
__pycache__
.vscode
docs/build/
tests/comp/input/*
tests/comp/output/*
*.egg-info
dist
.eggs
build
docs/source/examples/output

.pypirc
.coverage
coverage.xml
