hepi/_version.py
distribute/output*
distribute/older/output*
input/*
output/*
tests/output/*
debug/input/
*.pdf
debug/input/*
debug/output/*
*.pyc
__pycache__
.vscode
docs/build/
debug/comp/input/*
debug/comp/output/*
*.egg-info
dist
.eggs
build
docs/source/examples/output

.pypirc
.coverage
coverage.xml
*.zip
.ipynb_checkpoints
test.json
test.csv

Messages.out
sg.out
softsusy_tmp.in
spheno_tmp.in
